.jumbotron {
  padding: 2rem 1rem;
  background-color: #e9ecef;
}

.nav-link {
  font-size: 16px; 
}
  
.nav-link.active-link {
  font-weight: bold;
  text-decoration: underline rgb(79, 172, 219) solid 2px; 
  text-underline-offset: 4px; 
}
  

  
  
  
  