<div class="jumbotron" style="position:relative">
    <div class="text-center">
        <h1 class="display-4">Leon Lee</h1>
        <h3>Software Engineer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/leon-lee-3901b1153/" target="_blank" class="">
            <img src="../../assets/linkedin.svg" width="24" height="24" class="rounded-circle me-2" alt="">
            <!-- <h3 class="mb-0">LinkedIn</h3> -->
        </a>

        <a href="https://github.com/lla105" target="_blank" class="3">
            <img src="../../assets/github-mark.png" width="24" height="24" class="rounded-circle me-2" alt="">
            <!-- <h3 class="mb-0">Github (Personal)</h3> -->
            
        </a>
    </div>
</div>