
<div class="card shadow text-center" style="max-width:350px; min-width: 350px;" (click)="OpenProjectModal()">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p style="overflow: hidden;" class="card-text">{{project.summary}}</p> 
        <!-- <button class="btn btn-primary" (click)="OpenProjectModal()">View More</button> -->
    </div>

    <carousel [interval]="10000" [isAnimated]="true">
        <div *ngFor="let item of project.pictures">
            <slide>
                <img [src]="item" alt="slide" style="display: block; width: 100%; height: 100%; overflow:hidden;">
            </slide>
        </div>
    </carousel>


    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <!-- style.background is data binding -->
                <div class="tag me-2 mb-1" [style.background-color]="tag.color">{{tag}}</div>
            </div>
        </div>
    </div>
</div>