<div style="height:20px;"></div>


<div class="container" >
    <div class="text-center border mb-5 shadow rounded" style="background-color: white;">
        <div style="height:10px;"></div>

        <h1>Contact</h1>
        <p>I can be reached at the follow email: <b>aaaaaaleon&#64;gmail.com</b></p>
        <p>Fee free to connect with me on any of the following platforms:</p>
        <div style="height:10px;"></div>

    </div>

    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/leon-lee-3901b1153/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/linkedin.svg" width="32" height="32" class="flex-shrink-0 me-5" alt="">
            <h3 class="mb-0">LinkedIn</h3>
        </a>

        <a href="https://github.com/lla105" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/github-mark.png" width="32" height="32" class="flex-shrink-0 me-5" alt="">
            <h3 class="mb-0">Github (Personal)</h3>
        </a>
    </div>
</div>
