<div class="modal-header">
    <h2>{{project.name}}</h2>


    <button class="btn-close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body">
    <carousel [interval]="10000">
      <div *ngFor="let item of project.pictures">
        <slide>
          <!-- Check if the item is a video or an image -->
          <!-- <ng-container *ngIf="isVideo(item)"> -->
            <!-- Video -->
            <!-- <video controls loop style="display:block; width: 100%;"> -->
                <!-- <video autoplay style="width: 100%; max-height: 500px; height: auto; object-fit: contain;">
                    <source [src]="item" type="video/mp4">
                    Your browser does not support the video tag.
                  </video> -->
                  
          <!-- </ng-container> -->
          <!-- <ng-container *ngIf="isImage(item)"> -->
            <!-- Image -->
            <img [src]="item" alt="slide" style="display:block; width: 100%;">
          <!-- </ng-container> -->
        </slide>
      </div>
    </carousel>
  </div>
  