<div style="height:20px;"></div>

<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Work Experience</div>
                    <div style="width: 10.95px">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
                    </div>
  
                </button>
                <div style="text-align: left;">
                    <div class="row">
                        <div class="col-md-6 mb-2" >
                            <h2 class="mb-0"> Software Developer</h2>
                        </div>
                        <div class="col-md-6 mb-2" >
                            <h2 class="mb-0" style="text-align: right;"> 2022 - Present</h2>
                        </div>
                    </div>

                    <h3 class="text-primary text-align: left;">BlueBits Technologies Inc.</h3>
                    <ul>
                        <li> Developed and maintained a client management website using Angular with custom APIs, enabling remote control and mode
                            customization for physical lockers.
                        </li>
                        <li> Restructured data retrieval process, moving from a promise-based approach to a more appropriate pagination + manual button for
                            retrieval system. This change resulted in >90% improvement in page load times.
                        </li>
                        <li> Created cross-platform mobile applications for Android and iPhone using Angular. We have had a 150% increase in download count
                            across iOS App Store and Google Play Store in the past year.
                        </li>
                    </ul>
                </div>

                <hr>



            </accordion-group>
            <accordion-group heading="Education">
                <div style="text-align: left;">
                    <div class="row">
                        <div class="col-md-6 mb-2" >
                            <h2 class="mb-0">Simon Fraser University</h2>
                        </div>
                        <div class="col-md-6 mb-2" >
                            <h2 class="mb-0" style="text-align: right;"> 2020 - 2024</h2>
                        </div>
                    </div>

                    <h3 class="text-primary text-align: left;">Computer Science</h3>
                    <ul>
                        <li>
                            <p>Core Topics:</p>
                        </li>
                        <li>Algorithm design, Data Structures, OOP, Database Systems (SQL), Operating Systems (Assembly, RISC-V), Networking, UX Design, System Security, Cryptography, AI Algorithms, Machine Learning Algorithms.</li>
                    </ul>
                    
                </div>
            </accordion-group>
    
            <accordion-group heading="Skills">

                <ul>
                <li>
                • C | C++ | Python | JavaScript | TypeScript | Kotlin | Angular | HTML | CSS | SQL | GitHub | GitLab | Weka | Figma

                </li>
                <li>
                    • Linux | Bash | Frontend | Backend | Full-Stack | Google API | English, Mandarin, Cantonese – All professional proficiency

                </li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
    
</div>