<div style="height:50px;"></div>

<div class="container text-center">
    <!-- <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button> -->

    <div class="row">
        <!-- RESUME on the left -->
        <div class="col-md-6">
            <div class="img-container">
                <img src="assets/resumess.png" class="resume" alt="Leon_Lee_resume" width="500" height="600" (click)="DownloadFile()">
                <div class="middle">
                    <div class="text">Click to download</div>
                </div>
            </div>
        </div>
        
        
        
        <!-- ACCORDIN on the right --> 
        <div class="col-md-6">
            <div class="pb-2">
                <accordion [isAnimated]="true" class="shadow" [closeOthers]="oneAtATime">
                    <!-- WORK EXPERIENCE SECTION -->
                    <accordion-group [(isOpen)]="isWorkExperienceOpen">
                        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                            <div style="visibility: hidden;">></div>
                            <div class="btn-link">Work Experience</div>
                            <div style="width: 10.95px">
                                <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                                <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
                            </div>
          
                        </button>
                        <div style="text-align: left;">
                            <div class="row">
                                <div class="col-md-6 mb-2" >
                                    <h4 class="mb-0"> Software Developer</h4>
                                </div>
                                <div class="col-md-6 mb-2" >
                                    <h4 class="mb-0" style="text-align: right;"> 2022 - Present</h4>
                                </div>
                            </div>
        
                            <h4 class="text-primary text-align: left;">BlueBits Technologies Inc.</h4>
                            <ul>
                                <li style="font-size: 14px;"> Developed and maintained a client management website using Angular with custom RESTFUL APIs, enabling remote control and mode
                                    customization for our physical lockers.
                                </li>
                                <li style="font-size: 14px;"> Restructured data retrieval process, moving from a promise-based approach to a more appropriate pagination + manual data retrieval
                                     system. This change resulted in >90% improvement in performance.
                                </li>
                                <li style="font-size: 14px;"> Created cross-platform mobile applications for Android and iPhone using Angular. We have had a 150% increase in download count
                                    across iOS App Store and Google Play Store in the past year.
                                </li>
                            </ul>
                        </div>
        
                        <hr>

                        <div style="text-align: left;">
                            <div class="row">
                                <div class="col-md-6 mb-2" >
                                    <h4 class="mb-0"> Client Management + Account Software</h4>
                                </div>
                                <div class="col-md-6 mb-2" >
                                    <h4 class="mb-0" style="text-align: right;"> 2023 - Present</h4>
                                </div>
                            </div>
        
                            <h4 class="text-primary text-align: left;">Freelance</h4>
                            <ul>
                                <li style="font-size: 14px;"> Engineered a CRM & accounting solution in Python with tkinter GUI, Google API, and MySQL, achieving a 50% reduction in data retrieval
                                    time and 1200% (12 times) boost in user error reduction compared to previous system.
                                </li>
                                <li style="font-size: 14px;"> Pioneered an automated revenue reporting function to enable data analytic. This feature streamlined the business’s analytical process,
                                    contributing to a 200% boost in overall accounting efficiency.
                                </li> 
                            </ul>
                        </div>
        
                        <hr>
        

                        <div style="text-align: left;">
                            <div class="row">
                                <div class="col-md-6 mb-2" >
                                    <h4 class="mb-0"> Software QA</h4>
                                </div>
                                <div class="col-md-6 mb-2" >
                                    <h4 class="mb-0" style="text-align: right;"> 2021 - 2022</h4>
                                </div>
                            </div>
        
                            <h4 class="text-primary text-align: left;">Bluemyth</h4>
                            <ul>
                                <li style="font-size: 14px;"> Utilized Android Studio to monitor machine and app performance, optimizing RAM usage and identifying potential issues, resulting in a 15% reduction in app crashes.
                                </li>
                                <li style="font-size: 14px;"> Developed and implemented test plans and strategies, contributing to a 20% increase in overall test coverage.
                                </li>
                                <li style="font-size: 14px;"> Conducted performance testing on the Android machine, optimizing API calls and reducing average response time by 18%.
                                </li>
                            </ul>
                        </div>

                    </accordion-group>


                    <!-- EDUCATION SECTION -->
                    <accordion-group [(isOpen)]="isEducationOpen">
                        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                            <div style="visibility: hidden;">></div>
                            <div class="btn-link">Education</div>
                            <div style="width: 10.95px">
                                <div *ngIf="!isEducationOpen" style="color: white;">></div>
                                <div *ngIf="isEducationOpen" style="color: white;">v</div>
                            </div>
                        </button>

                        <div style="text-align: left;">
                            <div class="row">
                                <div class="col-md-6 mb-2" >
                                    <h4 class="mb-0">Simon Fraser University</h4>
                                </div>
                                <!-- <div class="col-md-6 mb-2" >
                                    <h4 class="mb-0" style="text-align: right;"> </h4>
                                </div> -->
                            </div>
        
                            <h4 class="text-primary text-align: left;">Computer Science</h4>
                                    <p>Core Topics:</p>
                                    <ul>

                                        <li style="font-size: 14px;">Algorithm design, Data Structures, OOP, Database Systems (SQL), Operating Systems (Assembly, RISC-V), Networking, UX Design, System Security, Cryptography, AI Algorithms, Machine Learning Algorithms.</li>

                                    </ul>
                            
                        </div>
                    </accordion-group>
            
                    <!-- SKILLS SECTION -->
                    <accordion-group [(isOpen)]="isSkillsOpen">
                        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                            <div style="visibility: hidden;">></div>
                            <div class="btn-link">Skills</div>
                            <div style="width: 10.95px">
                                <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                                <div *ngIf="isSkillsOpen" style="color: white;">v</div>
                            </div>
                        </button>

                        <ul>
                            <li>
                                C | C++ | Python | JavaScript | TypeScript | Kotlin | Angular | Node.js | HTML | CSS | MySQL | Spark | GitHub | GitLab | Weka | Figma 
                            </li>
                            <li>
                                Linux | Bash | Frontend | Backend | Full-Stack | CI/CD | Data pipeline | Google API | Firebase | Bootstrap | Jira | Xcode | Android Studio | OOP | npm | ionic | English, Mandarin, Cantonese – professional proficiency
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>
            </div>

        </div>

    </div>
   
    
</div>