<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/dp.png" alt="profile picture" style="width:50%" class="rounded-circle">
                <p> fill in later</p>
            </div>
        </div>
        <!-- Featured projects -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel [interval]="10000">
                <div *ngFor="let item of featuredProject.pictures">
                  <slide>
                      <img [src]="item" alt="slide" style="display:block; width: 100%;">
                  </slide>
                </div>
              </carousel>

              <p class="mt-2">{{featuredProject.summary}}</p>
              <p>Visit the Porfolio section to learn more!</p> 
        </div>
    </div>
</div>