<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg showdow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/dp.png" alt="profile picture" style="width:50%" class="rounded-circle">
                <p> fill in later</p>
            </div>
        </div>
        <!-- Featured projects -->
        <div class="col-lg showdow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
            </div>
        </div>

    </div>
</div>